@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
.sidepanel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(89, 89, 89, 0.8078431373);
  opacity: 1;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 1s;
  box-shadow: -10px 20px 15px -10px rgba(155, 152, 152, 0.61);
}
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}
.sidepanel a:hover {
  color: #fff;
  text-shadow: -10px 20px 15px -10px rgba(155, 152, 152, 0.61);
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #837f79;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border: none;
}
.openbtn:hover {
  background-color: #444;
}

#items {
  padding: 20px;
  transition: margin-right 2s;
}

.nav-link {
  color: black;
}

.search-btn {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #837f79;
  margin-top: 4px;
}

input {
  background-color: #837f79;
  border: 1px solid black;
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100vh;
  width: 100%;
  font-family: "Jost", sans-serif;
}

.main-footer {
  width: 100%;
  background: #837f79;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 200px; /* Height of the footer */
}
.main-footer .social-media {
  width: 30%;
  margin: 0 auto;
}
.main-footer .social-media .social-icon {
  width: 30px;
  height: 30px;
  color: black;
}

* {
  margin: 0px;
  padding: 0;
  outline: none;
}

.container-product-product {
  width: 280px;
  height: 520px;
  margin: 30px auto;
  font-family: "Roboto", sans-serif;
  margin: 50px !important;
}

.card-product {
  border-radius: 25px;
  box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
  height: 615px;
  width: 350px !important;
  margin-top: 100px;
}

.card-head-product {
  position: relative;
  height: 300px;
  background: #837f79;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #837f79 8%, #595959 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 25px 25px 0 0;
}

.card-logo-product {
  width: 55px;
  margin: 20px;
}

.product-img-product {
  position: absolute;
  left: 50;
  margin-top: 100px;
  margin-left: 70px;
  height: 200px;
  width: 200px;
}

.product-detail-product {
  padding: 0 20px;
  font-size: 11px;
  color: #fff;
}

.product-detail-product h2 {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.back-text-product {
  display: inline-block;
  position: relative;
  font-size: 55px;
  font-weight: 700;
  margin-left: -20px;
  margin-top: 45px;
  opacity: 0.1;
  transform: rotate(-90deg);
}

.card-body-product {
  height: 275px;
  background: #fff;
  border-radius: 0 0 25px 25px;
}

.product-title-product {
  padding: 20px 20px 5px 20px;
  display: block;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  width: 350px;
}

.product-title-product b {
  font-weight: 900;
  letter-spacing: 0px;
}

.product-caption-product {
  display: block;
  padding: 0 20px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  padding-top: 75px;
}

.product-rating-product {
  padding: 0 20px;
  font-size: 11px;
  position: absolute;
  margin-top: 100px;
}

.product-rating-product i.grey {
  color: #acacab;
}

.product-size-product h4 {
  font-size: 17px;
  padding: 0 21px;
  margin-top: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
  position: absolute;
  margin-top: 140px;
}

.ul-size-product {
  list-style: none;
  margin-left: 2px;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  width: 150px;
  height: 22px;
  border-radius: 100%;
  text-align: center;
  line-height: 23px;
  color: rgb(80, 70, 70);
  position: absolute;
  margin-top: 165px;
  text-align: start;
  margin-left: 20px;
}

.product-color-product h4 {
  font-size: 17px;
  padding: 0 21px;
  margin-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  position: absolute;
  margin-top: 200px;
}

.product-color-product p {
  font-size: 15px;
  padding: 0 21px;
  margin-top: 10px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-decoration: line-through;
  position: absolute;
  margin-top: 230px;
}

.product-price-product {
  position: relative;
  background: #11e95b;
  padding: 7px 40px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
  border-radius: 7px;
  margin-top: 200px;
  margin-left: 230px;
  box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
}

.product-price-product b {
  margin-left: 5px;
}

.details-product {
  background-color: rgba(131, 127, 121, 0.5647058824);
  position: absolute;
  padding: 5px 113px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  margin-top: 30px;
  margin-left: 0px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 350px;
}

.details-product a {
  text-decoration: none;
  color: #fff;
}

.hero {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 60vh;
}
.hero .hero-img-container {
  width: 100%;
  height: 100%;
}
.hero .hero-img-container .hero-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.hero .hero-img-container .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.387);
  width: 800px;
  height: 200px;
}
.hero .hero-img-container .centered .text-img {
  margin-left: 5px;
  margin-top: 10px;
  width: 100%;
}
.hero .hero-img-container .hero-container {
  width: 100%;
}
.hero .text-container {
  background: rgba(0, 0, 0, 0.377);
  width: 900px;
  padding: 50px;
  margin-left: 300px;
  margin-top: -300px;
}
.hero .text-container .text-img {
  width: 170px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}/*# sourceMappingURL=style.css.map */