* {
  margin: 0px;
  padding: 0;
  outline: none;
}

.container-product-product {
  width: 280px;
  height: 520px;
  margin: 30px auto;
  font-family: 'Roboto', sans-serif;
  margin: 50px !important;
}

.card-product {
  border-radius: 25px;
  box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
  height: 615px;
  width: 350px !important;
  margin-top: 100px;
}

.card-head-product {
  position: relative;
  height: 300px;
  background:#837f79;
  ;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #837f79 8%, #595959 83%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #837f79 8%, #595959 83%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #837f79 8%, #595959 83%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /*filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fa782e', endColorstr='#c82930', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 25px 25px 0 0;
}

.card-logo-product {
  width: 55px;
  margin: 20px;
}

.product-img-product {
  position: absolute;
  left: 50;
  margin-top: 100px;
  margin-left: 70px;
  height: 200px;
  width: 200px;
}

.product-detail-product {
  padding: 0 20px;
  font-size: 11px;
  color: #fff;
}

.product-detail-product h2 {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.back-text-product {
  display: inline-block;
  position: relative;
  font-size: 55px;
  font-weight: 700;
  margin-left: -20px;
  margin-top: 45px;
  opacity: 0.1;
  transform: rotate(-90deg);
}

.card-body-product {
  height: 275px;
  background: #fff;
  border-radius: 0 0 25px 25px;
}

.product-title-product {
  padding: 20px 20px 5px 20px;
  display: block;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  position:absolute;
  width:350px;
}

.product-title-product b {
  font-weight: 900;
  letter-spacing: 0px;
}


.product-caption-product {
  display: block;
  padding: 0 20px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  position:absolute;
  padding-top: 75px;
}

.product-rating-product {
  padding: 0 20px;
  font-size: 11px;
  position: absolute;
  margin-top: 100px;
}

.product-rating-product i.grey {
  color: #acacab;
}

.product-size-product h4 {
  font-size: 17px;
  padding: 0 21px;
  margin-top: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
  position: absolute;
  margin-top: 140px;
}


.ul-size-product {
  list-style: none;
  margin-left: 2px;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  width: 150px;
  height: 22px;
  border-radius: 100%;
  text-align: center;
  line-height: 23px;
  color: rgb(80, 70, 70);
  position: absolute;
  margin-top: 165px;    
  text-align: start;
  margin-left: 20px;
}
    
.product-color-product h4 {
  font-size: 17px;
  padding: 0 21px;
  margin-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  position: absolute;
  margin-top: 200px;
}

.product-color-product p {
  font-size: 15px;
  padding: 0 21px;
  margin-top: 10px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-decoration: line-through;
  position: absolute;
  margin-top: 230px;
}
  
.product-price-product {
  position: relative;
  background: #11e95b;
  padding: 7px 40px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  font-weight: 200;
  color: #fff;
  border-radius: 7px;
  margin-top: 200px;
  margin-left: 230px;
  box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
}

.product-price-product b {
  margin-left: 5px;
}

.details-product {
background-color: #837f7990;
position: absolute;
  padding: 5px 113px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  margin-top: 30px;
  margin-left: 0px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 350px;
}

.details-product a{
text-decoration: none;
color: #fff;
}