$main-background: #837f79;
$main-background2: #595959;
$breakpoint-logoXl: 1200px;
$breakpoint-navCollapse: 991px;
$breakpoint-logoM: 740px;
$breakpoint-xs: 576px;
$breakpoint-logoS: 520px;
$breakpoint-logoXS: 430px;
$breakpoint-logoXXS: 330px;